html {
  /* Изменяем оформление документа*/
  background: #c6d5f7;
  /* Изменяем оформление текста*/
  color: #001340;
  font-family: Arial, Helvetica, sans-serif;
}

/*Изменяем оформление ссылок с помощью псевдоклассов*/
a:link {
    color: #0000d0; /* Цвет ссылок*/
   }
   a:visited {
    color: #900060; /* Цвет посещенных ссылок */
   }

/* Изменяем оформление списков*/
li {
  font-size: 120%;
}

/* Изменение оформления таблиц с помощью псевдоклассов*/
tr:nth-child(even){
  background: green; /* Меняем цвет четных строк таблиц*/
}
